ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:2px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

div.overflow {
overflow-y: scroll;
overflow: hidden;
}

html, body {
    max-width: 100%;
    color: red;
    overflow-x: hidden;
}

.active {
  background-color: #4CAF50;
}

.footer {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black ;
  color: white ;
  text-align: center;
}

.gamesfooter {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -30%;
  width: 100%;
  background-color: black ;
  color: white ;
  text-align: center;
}


h2 {
  border: 1px solid red;
  outline: 5px dotted green;
}

div.contacttextborder {
  border: 7px solid red;
  outline: 8px dashed blue;
  height: 300px;
  width: 680px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -330px;
}

div.hobbytextborder {
  border: 7px solid #6600cc;
  outline: 8px dashed #ccff33;
  height: 580px;
  width: 740px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -320px;
  margin-left: -370px;
}

div.gamestoptextborder {
  border: 7px solid #cc6600;
  outline: 8px dashed #6666ff;
  height: 60px;
  width: 700px;

  position: relative;
  top: 70px;
  left: 580px;
}

div.csgovideo {
  position: relative;
  top: 150px;
  left: -30%;
}

div.csgotext {
  float: left;
  width: 36%;
  text-align:left;

  position: relative;
  top: 400px;
  left: 680px;
}

div.paladinsvideo {
  position: relative;
  top: -258px;
  right: -58%;
}

div.paladinstext {
  float: left;
  width: 36%;
  text-align: right;

  position: relative;
  top: -270px;
  left: 1100px;
}

div.fotomijzelf {
  position: relative;
  top: -300px;
  left: -650px;
}

  .fullscreen-bg {
      position: fixed;
      top: -1%;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      width: 100%;
      height: 116%;
  }

  .fullscreen-bg__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .wiebenikfooter {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -140%;
    width: 100%;
    background-color: black ;
    color: white ;
    text-align: center;
  }

  div.dordrechtpos {
    position: relative;
    top: 0px;
    left: 30px;
  }

  div.emmenpos {
    position: relative;
    top: -554px;
    left: 900px;
  }

  div.wiebeniktextpos {
    position: relative;
    top: -500px;
    left: 30px;
  }

  div.esdalcollegepos {
    position: relative;
    bottom: 496px;
    left: 480px;
  }

  div.drenthecollegepos {
    position: relative;
    bottom: 800px;
    left: 30px;
  }

  div.theflashvideo {
    position: absolute;
    top: 150px;
    right: 1200px;
  }

  div.thearrowvideo {
    position: absolute;
    top: 150px;
    right: 2%;
  }

  div.legendsoftomorrowvideo {
    position: absolute;
    top: 800px;
    right: 32%;
  }

  div.seriestext {
    position: absolute;
    top: 600px;
    right: 10%;
  }

  .seriesfooter {
    overflow: hidden;
    position: absolute;
    left: 0px;
    bottom: -43%;
    width: 100%;
    background-color: black ;
    color: white ;
    text-align: center;
  }
